!
{% for key, value in config.vlans.items() %}
vlan {{ key }}
 name {{ value }}
!
{% endfor %}
interface {{ config.interface.ifname }}
 description {{ config.interface.desc }}
 ip address {{ config.interface.ipaddr }} {{ config.interface.mask }}
 {% if config.interface.ospf.configured == 'yes' %}
 ip ospf {{ config.interface.ospf.pid}} area {{ config.interface.ospf.areaid }}
 ip ospf network {{ config.interface.ospf.network }}
 {% endif %}