!
router bgp {{ config.bgp.localas }}
 bgp router-id {{ config.bgp.rid }}
 neighbor {{ config.bgp.nei }} remote-as {{ config.bgp.remoteas }}
 neighbor {{ config.bgp.nei }} update-source {{ config.bgp.updatesrc }}
!
